node_modules/
geo/node_modules/
.env
*.env
*.log
.DS_Store
08_backups/
*.lnk
*.db
*.db.local-backup*
package-lock.json
*.backup
*.before_dedup
*.caotico
*.envcp
Proyectos/Geo/-H
"Proyectos/Geo/python3 -c "
Proyectos/Geo/geo-touvetout@1.0.0
Proyectos/Geo/node
Proyectos/Geo/import
